body{
  background-color: mediumslateblue;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}
.container{
  text-align: center;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  height: 340px;
  width: 660px;
  gap: 20px;
  row-gap: 20px;
  
}